@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<script>
    $("document").ready(() => {
        const successFunction = (data) => console.log(data);
        const failureFunction = (error) => console.log("Error logged");
        HttpClient.get("api", successFunction, {name: 'rajan'}, failureFunction);
        HttpClient.post("api", successFunction, {name: 'rajan', role: 'dev'});
    })
    
</script>
